span {
    position: absolute;
    border-radius: 10px;
    width: 20px;
    height: 20px;
}
.messageBox {
    left: 40px; 
    top: 1600px; 
    font-family: Lucida Console;
    font-size: x-large;
    color: rgba(30, 26, 77, 0.853);
    border-radius: 0px;
    height: 30px;
    width:  500px;
}
.name_pink {
    left: 540px; 
    top: 1300px; 
    font-family: Lucida Console;
    font-size: large;
    color: rgba(254, 144, 214, 0.853);
    border-radius: 0px;
    height: 30px;
    width:  250px;
}
.name_lightgreen {
    left: 1180px; 
    top: 285px; 
    font-family: Lucida Console;
    font-size: large;
    color: rgba(173, 224, 147);
    border-radius: 0px;
    height: 30px;
    width:  250px;
}
.name_orange {
    left: 460px; 
    top: 700px; 
    font-family: Lucida Console;
    font-size: large;
    color: rgba(232, 188, 107);
    border-radius: 0px;
    height: 30px;
    width:  250px;
}
.name_brown {
    left: 540px; 
    top: 1650px; 
    font-family: Lucida Console;
    font-size: large;
    color: rgba(163, 126, 58);
    border-radius: 0px;
    height: 30px;
    width:  250px;
}
.name_darkgreen {
    left: 130px; 
    top: 1090px; 
    font-family: Lucida Console;
    font-size: large;
    color: rgba(64, 123, 18);
    border-radius: 0px;
    height: 30px;
    width:  250px;
}
.name_red {
    left:1340px; 
    top: 1625px; 
    font-family: Lucida Console;
    font-size: large;
    color: rgba(245, 96, 41);
    border-radius: 0px;
    height: 30px;
    width:  250px;
}
.name_purple {
    left: 2100px; 
    top: 460px; 
    font-family: Lucida Console;
    font-size: large;
    color: rgba(131, 4, 181);
    border-radius: 0px;
    height: 30px;
    width:  250px;
}
.map {
    position: relative;
    background-image: url(largemap.jpg);
    background-repeat: no-repeat;
    height: 1700px;
    width:  2350px;
}
.infobox {
    position: absolute;
    border-color: black;
    border-top: 3px;
    border-top-style: dashed;
    border-left: 3px;
    border-left-style: dashed;
    height: 720px;
    width:  860px;
    left:  1620px;
    top:   1000px;
    visibility: "hidden";
}
.pic_youtube {
    position: absolute;
    background-image: url(icons/youtube.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width:  30px;
    left:   30px;
    top:   600px;
    visibility: "hidden";
}
.pic_yammer {
    position: absolute;
    background-image: url(icons/yammer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width:  30px;
    left:   30px;
    top:   660px;
    visibility: "hidden";
}
.pic_github {
    position: absolute;
    background-image: url(icons/github.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width:  30px;
    left:  340px;
    top:   600px;
    visibility: "hidden";
}
.pic_twitter {
    position: absolute;
    background-image: url(icons/twitter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width:  30px;
    left:  340px;
    top:   660px;
    visibility: "hidden";
}
.info_exit {
    position: absolute;
    background-image: url(icons/exit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width:  40px;
    left:  815px;
    top:     5px;
    visibility: "hidden";
}
.msg_youtube {
    position: absolute;
    font-family: Lucida Console;
    font-size: large;
    color: rgba(30, 26, 77, 0.853);
    height: 30px;
    width: 100px;
    left:   75px;
    top:   603px;
    visibility: "hidden";
}
.msg_yammer {
    position: absolute;
    font-family: Lucida Console;
    font-size: large;
    color: rgba(30, 26, 77, 0.853);
    height: 30px;
    width: 100px;
    left:   75px;
    top:   663px;
    visibility: "hidden";
}
.msg_github {
    position: absolute;
    font-family: Lucida Console;
    font-size: large;
    color: rgba(30, 26, 77, 0.853);
    height: 30px;
    width: 100px;
    left:  385px;
    top:   603px;
    visibility: "hidden";
}
.msg_twitter {
    position: absolute;
    font-family: Lucida Console;
    font-size: large;
    color: rgba(30, 26, 77, 0.853);
    height: 30px;
    width:  30px;
    left:  385px;
    top:   663px;
    visibility: "hidden";
}
.opacityBox {
    position: absolute;
    background: rgba(255, 255, 255, 0.5);;
    height: 500px;
    width:  800px;
    left:  0px;
    top:   0px;
    visibility: "hidden";
}
.photoBox {
    position: absolute;
    opacity: 1;
    font-family: Lucida Console;
    font-size: x-large;
    color: rgba(30, 26, 77, 0.853);
    height: 460px;
    width:  760px;
    left: 25px;
    top: 25px;
    visibility: "hidden";
}
/* LightGreen */
.p_lg01 { left: 1070px; top: 305px; background-color: rgb(173, 224, 147); }
.p_lg02 { left:  735px; top: 320px; background-color: rgb(173, 224, 147); } 
.p_lg03 { left:  650px; top: 400px; background-color: rgb(173, 224, 147); }
.p_lg04 { left:  570px; top: 485px; background-color: rgb(173, 224, 147); }
.p_lg05 { left:  485px; top: 570px; background-color: rgb(173, 224, 147); }
.p_lg06 { left:  415px; top: 845px; background-color: rgb(173, 224, 147); } 
.p_lg07 { left:  310px; top: 950px; background-color: rgb(173, 224, 147); }

/* Orange */
.p_or01 { left:  432px; top: 735px; background-color: rgb(232, 188, 107); }
.p_or02 { left:  493px; top: 812px; background-color: rgb(232, 188, 107); }
.p_or03 { left:  554px; top: 874px; background-color: rgb(232, 188, 107); }
.p_or04 { left:  654px; top: 891px; background-color: rgb(232, 188, 107); }
.p_or05 { left:  743px; top: 891px; background-color: rgb(232, 188, 107); }
.p_or06 { left:  870px; top: 891px; background-color: rgb(232, 188, 107); }
.p_or07 { left:  986px; top: 891px; background-color: rgb(232, 188, 107); }
.p_or08 { left: 1100px; top: 891px; background-color: rgb(232, 188, 107); }
.p_or09 { left: 1192px; top: 891px; background-color: rgb(232, 188, 107); }
.p_or10 { left: 1280px; top: 891px; background-color: rgb(232, 188, 107); }
.p_or11 { left: 1380px; top: 891px; background-color: rgb(232, 188, 107); }
.p_or12 { left: 1554px; top: 929px; background-color: rgb(232, 188, 107); }
.p_or13 { left: 1605px; top: 973px; background-color: rgb(232, 188, 107); }

/* Brown */
.p_br01 { left: 1404px; top: 260px; background-color: rgb(163, 126, 58); }
.p_br02 { left: 1270px; top: 388px; background-color: rgb(163, 126, 58); }
.p_br03 { left: 1190px; top: 440px; background-color: rgb(163, 126, 58); }
.p_br04 { left: 1072px; top: 440px; background-color: rgb(163, 126, 58); }
.p_br05 { left: 1000px; top: 496px; background-color: rgb(163, 126, 58); }
.p_br06 { left:  954px; top: 542px; background-color: rgb(163, 126, 58); }
.p_br07 { left:  908px; top: 590px; background-color: rgb(163, 126, 58); }
.p_br08 { left:  858px; top: 636px; background-color: rgb(163, 126, 58); }
.p_br09 { left:  805px; top: 688px; background-color: rgb(163, 126, 58); }
.p_br10 { left:  758px; top: 740px; background-color: rgb(163, 126, 58); }
.p_br11 { left:  743px; top: 810px; background-color: rgb(163, 126, 58); }
.p_br12 { left:  743px; top: 988px; background-color: rgb(163, 126, 58); }
.p_br13 { left:  743px; top:1168px; background-color: rgb(163, 126, 58); }
.p_br14 { left:  743px; top:1342px; background-color: rgb(163, 126, 58); }
.p_br15 { left:  743px; top:1400px; background-color: rgb(163, 126, 58); }
.p_br16 { left:  743px; top:1460px; background-color: rgb(163, 126, 58); }
.p_br17 { left:  743px; top:1510px; background-color: rgb(163, 126, 58); }
.p_br18 { left:  743px; top:1580px; background-color: rgb(163, 126, 58); }
.p_br19 { left:  743px; top:1642px; background-color: rgb(163, 126, 58); } 

/* DarkGreen */
.p_dg01 { left:  228px; top:1067px; background-color: rgb(64, 123, 18); }
.p_dg02 { left:  318px; top:1067px; background-color: rgb(64, 123, 18); }
.p_dg03 { left:  400px; top:1067px; background-color: rgb(64, 123, 18); }
.p_dg04 { left:  486px; top:1067px; background-color: rgb(64, 123, 18); }
.p_dg05 { left:  572px; top:1067px; background-color: rgb(64, 123, 18); }
.p_dg06 { left:  660px; top:1067px; background-color: rgb(64, 123, 18); }
.p_dg07 { left:  744px; top:1067px; background-color: rgb(64, 123, 18); }
.p_dg08 { left:  862px; top:1067px; background-color: rgb(64, 123, 18); }
.p_dg09 { left:  996px; top:1067px; background-color: rgb(64, 123, 18); }
.p_dg10 { left: 1140px; top:1067px; background-color: rgb(64, 123, 18); }
.p_dg11 { left: 1396px; top:1024px; background-color: rgb(64, 123, 18); }
.p_dg12 { left: 1376px; top: 748px; background-color: rgb(64, 123, 18); }
.p_dg13 { left: 1288px; top: 662px; background-color: rgb(64, 123, 18); }
.p_dg14 { left: 1212px; top: 582px; background-color: rgb(64, 123, 18); }
.p_dg15 { left: 1146px; top: 520px; background-color: rgb(64, 123, 18); }

/* Pink */
.p_pi01 { left:  742px; top:1274px; background-color: rgb(237, 168, 225); }
.p_pi02 { left:  998px; top:1274px; background-color: rgb(237, 168, 225);  }
.p_pi03 { left: 1280px; top:1274px; background-color: rgb(237, 168, 225);  }
.p_pi04 { left: 1424px; top:1252px; background-color: rgb(237, 168, 225);  }
.p_pi05 { left: 1488px; top:1092px; background-color: rgb(237, 168, 225);  }
.p_pi06 { left: 1396px; top: 480px; background-color: rgb(237, 168, 225);  }  

/* Red */
.p_re01 { left: 1388px; top:1644px; background-color: rgb(245, 96, 41);  }
.p_re02 { left: 1324px; top:1644px; background-color: rgb(245, 96, 41); }
.p_re03 { left: 1280px; top:1588px; background-color: rgb(245, 96, 41); }
.p_re04 { left: 1280px; top:1528px; background-color: rgb(245, 96, 41); }
.p_re05 { left: 1280px; top:1466px; background-color: rgb(245, 96, 41); }
.p_re06 { left: 1280px; top:1404px; background-color: rgb(245, 96, 41); }
.p_re07 { left: 1280px; top:1340px; background-color: rgb(245, 96, 41); }
.p_re08 { left: 1280px; top:1166px; background-color: rgb(245, 96, 41); }
.p_re09 { left: 1280px; top:1066px; background-color: rgb(245, 96, 41); }
.p_re10 { left: 1430px; top: 692px; background-color: rgb(245, 96, 41); }
.p_re11 { left: 1548px; top: 570px; background-color: rgb(245, 96, 41); }
.p_re12 { left: 1610px; top: 510px; background-color: rgb(245, 96, 41); }
.p_re13 { left: 1646px; top: 474px; background-color: rgb(245, 96, 41); }
.p_re14 { left: 1678px; top: 440px; background-color: rgb(245, 96, 41); }
.p_re15 { left: 1718px; top: 402px; background-color: rgb(245, 96, 41); }
.p_re16 { left: 1760px; top: 360px; background-color: rgb(245, 96, 41); }
.p_re17 { left: 1810px; top: 308px; background-color: rgb(245, 96, 41); }
.p_re18 { left: 1858px; top: 262px; background-color: rgb(245, 96, 41); }
.p_re19 { left: 1906px; top: 212px; background-color: rgb(245, 96, 41); }
.p_re20 { left: 1954px; top: 168px; background-color: rgb(245, 96, 41); }

/* Purple */
.p_pu01 { left: 1216px; top: 734px; background-color: rgb(131, 4, 181); }
.p_pu02 { left: 1386px; top: 636px; background-color: rgb(131, 4, 181); }
.p_pu03 { left: 1546px; top: 694px; background-color: rgb(131, 4, 181); }
.p_pu04 { left: 1602px; top: 750px; background-color: rgb(131, 4, 181); }
.p_pu05 { left: 1664px; top: 814px; background-color: rgb(131, 4, 181); }
.p_pu06 { left: 1806px; top: 784px; background-color: rgb(131, 4, 181); }
.p_pu07 { left: 1896px; top: 696px; background-color: rgb(131, 4, 181); }
.p_pu08 { left: 1946px; top: 642px; background-color: rgb(131, 4, 181); }
.p_pu09 { left: 1992px; top: 596px; background-color: rgb(131, 4, 181); }
.p_pu10 { left: 2036px; top: 552px; background-color: rgb(131, 4, 181); }
.p_pu11 { left: 2082px; top: 508px; background-color: rgb(131, 4, 181); }
.p_pu12 { left: 2162px; top: 476px; background-color: rgb(131, 4, 181); }
.p_pu13 { left: 2256px; top: 476px; background-color: rgb(131, 4, 181); }
.p_pu14 { left: 2290px; top: 560px; background-color: rgb(131, 4, 181); }            